
body {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://i.pinimg.com/originals/cf/94/24/cf942476be0fd4054579ac4822265b37.jpg");
  
}

.logo{
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  padding: 1rem 10rem;
  background-color: #bdb3a9;
  box-shadow: 2px 2px 20px 5px gray;

}

code {
  font-family: 'Courier New', Courier, monospace;
}
